/* normalize */
body { 
  margin: 0;
  font-size: 12px;
  color: #fff;
  font-family: sans-serif;
}

/* global styles */
video {
  background-color: #111;
  width: 100%;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* p2p-media styles */
.p2p-media {
  align-items: center;
  flex-direction: column;
}

#my-stream, #your-stream {
  position: absolute;
}

.my-stream-normal {
  bottom: 0;
  left: 0;
  z-index: 2;
  margin-bottom: -10px
}

.your-stream-normal {
  z-index: 1;
}

.turning {
  transform: scale(-1, 1);
}

.my-video-normal {
  width: 30vw;
  height: auto;
}

.your-video-normal {
  width: 100vw;
  height: 100vh;
  /* min-height: 100vh; */ 
}

.clock, .clock-date, .clock-time {
  position: relative;
  width: auto;
  height: auto;
}

.clock-date {
  position: absolute;
  z-index: 2;
  font-size: 24px;
}

.clock-time {
  position: absolute;
  z-index: 2;
  font-size: 36px;
  margin-top: 30px;
}

.menu-right {
  position: relative;
}

.mainmenu, .mymenu, .yourmenu {
  position: absolute;
}

.mainmenu {
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: flex-end;
  margin-left: 35vw;
}

.mymenu, .yourmenu {
  top: 0;
  right: 0;
  z-index: 3;
  width: 45vh;
  height: auto;
}

.yourmenu {
  margin-top: 200px;
}

.mainmenu input {
  height: 15vh;
  width: auto;
  margin-right: 20px;
}

.AImenu {
  position: absolute;
  display: flex;
  margin-top: 100px;
  z-index: 3;
}

#sasetaruchan {
  height: 30vh;
  width: auto;
}

.balloon {
  width: 15vw;
  height: auto;
  /* margin: 15px 10px 10px 0; */
}

/* 吹き出し本体 - 普通の吹き出し */
.balloon{
  position: relative;
  padding: 10px;
  background-color: #00afcc;
  border-radius: 10px;         /* 角丸を指定 */
}
/* 三角アイコン - 普通の吹き出し */
.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #00afcc;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}